body
{
    background-color: white;
}

#header {
    background: white;
}

#user-tools{
/*     display: none; */
}

.dashboard-title{
    display: none;
}

#header #branding h1 {
    margin: 0;
    padding: 5px 0px;
    text-indent: -9999px;
    background: #d3e1e4 url(/static/img/layout.jpg) 0% 50% no-repeat;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    
}

#header
{
    color: #333;
}

#header #branding a
{
    color: black !important;
    font-size: large !important;
}

.grp-horizontal-list
{
}

.grp-horizontal-list ul li
{
    list-style: none;
    
    
}