<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<div class="wrapper-inner wrapper-inner_2">

    <header>
        <div class="contacts">
            <span>+7.906.785.28.05</span>
            <a class="contacts__mail" href="mailto:masttsafar@yandex.ru">masttsafar@yandex.ru</a>
        </div>
        <span class="logo"><img src="img/head.jpg"/></span>

        <nav>
            <ul>
                <li><a href="#">О ШКОЛЕ</a></li>
                <li><a href="#">ХАРАКТЕР-ЛАБ</a></li>
                <li><a href="#">ПАРАДОКС</a></li>
                <li><a href="#">ИНТУИЦИЯ</a></li>
                <li><a href="#">ХАРИЗМА-ЛАБ</a></li>
                <li><a href="#">СИДДХИ</a></li>
                <li><a href="#">ВЕДЫ.ТАНТРА </a></li>
                <li><a href="#">МАСТЕР </a></li>
                <li><a href="#">КУЛЬТУРА СОЗНАНИЯ</a></li>
                <li><a href="#">АЯВАСКА</a></li>
                <li><a href="#">КРУГ </a></li>
                <li><a href="#">БУДУЩЕЕ </a></li>
                <li><a href="#">ОБУЧЕНИЕ</a></li>
            </ul>
        </nav>

    </header>
    <div class="content__inner content__inner_2">
        <section class="cite">
            <blockquote>
                Школа Будущего основана в 2012 году и проводит обучение с целью
            </blockquote>
            <span class="cite-author"> Георгий Гурджиев
            </span>

        </section>
        <h5> О Школе</h5>

        <p>Школа Будущего основана в 2012 году и проводит обучение с целью помочь человеку: </p>
        <ul>
            <li>научится распознавать роль эго в создании разобщённости и конфликтов, чтобы вырасти над его
                ограничениями.
            </li>
            <li>научиться самовластию - осознанной укоренённости в себе, устойчивому пробуждённому присутствию.
            </li>
            <li>стать завтрашним уже сегодня - пробуждённым, мирным, творческим, сильным, самореализовавшимся.
            </li>
        </ul>
        <p>Мы делаем акцент на заочной системе обучения, как на наиболее эффективной для максимально широкого
            распространения знаний. </p>

        <p>
            Для того чтобы наша страна смогла выйти на новые неконфликтные пути развития в 21-м веке, нам самим
            в повседневной жизни надо освободиться от эгоизма, подняться над горизонтом грубых материальных
            страстей, и на практике изменить сущность человеческих взаимоотношений, возвысив их до уровня любви,
            доверия и мудрости.</p>

        <div class="content__inner_2__video">
            <div class="content__inner_2__video__title">  "Духовные пьяницы. Миражи настоящего"_ Бутылка №1_Последняя трезвая глава.  </div>
                <iframe width="480" height="270" src="//www.youtube.com/embed/sxf56xXsOWk" frameborder="0" allowfullscreen></iframe>

        </div>
        <p class="mark">Чтобы подписаться на заочную систему обучения Школы Будущего введите свое имя и действующий e-mail,
            на странице аудиокниги, и прямо сейчас получите в подарок аудио-книгу Мастт Сафара
            <span class="text-right">"Духовные пьяницы. Миражи настоящего".</span></p>
        <div class="content__link content__link_1">
            <img src="img/audiobook.jpg" alt=""/>
             <a href="#" class="content__link__title">НА СТРАНИЦУ АУДИОКНИГИ</a>
        </div>
        <div class="content__link content__link_2">
            <img src="img/book.jpg" alt=""/>
            <a href="#" class="content__link__title">КУПИТЬ БУМАЖНУЮ КНИГУ</a>
        </div>
        <div class="content__bottom">Если то, что вы узнаёте на сайте Школы Будущего и из наших учебных
            программ,
            наполнено правдой
            и смыслом, поделитесь ссылкой на сайт со своими друзьями и знакомыми
        </div>
        <div class="content-inner__soc">

        </div>
    </div>
</div>

<footer>
    <div class="footer">

        <h4> © 2013 Школа будущего </h4>

    </div>

</footer>

</body>
</html>