<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<div class="layout">
    <div class="layout-inner">
        <div class="wrapper-inner">

            <header>
                <div class="contacts">
                    <span>+7.906.785.28.05</span>
                    <a class="contacts__mail" href="mailto:masttsafar@yandex.ru">masttsafar@yandex.ru</a>
                </div>
                <span class="logo"></span>

                <nav>
                    <ul>
                        <li><a href="#">О ШКОЛЕ</a></li>
                        <li><a href="#">ХАРАКТЕР-ЛАБ</a></li>
                        <li><a href="#">ПАРАДОКС</a></li>
                        <li><a href="#">ИНТУИЦИЯ</a></li>
                        <li><a href="#">ХАРИЗМА-ЛАБ</a></li>
                        <li><a href="#">СИДДХИ</a></li>
                        <li><a href="#">ВЕДЫ.ТАНТРА </a></li>
                        <li><a href="#">МАСТЕР </a></li>
                        <li><a href="#">КУЛЬТУРА СОЗНАНИЯ</a></li>
                        <li><a href="#">АЯВАСКА</a></li>
                        <li><a href="#">КРУГ </a></li>
                        <li><a href="#">БУДУЩЕЕ </a></li>
                        <li><a href="#">ОБУЧЕНИЕ</a></li>
                    </ul>
                </nav>

            </header>
            <div class="content-inner">
                <div class="content__left">Слушай</div>
                <div class="content__right">
                    <div class="content__right__top">Герман Греф о народе
                        и познании высшего Я
                    </div>
                    <a href="#" class="content__btn-red"></a>

                    <p class="content__right__text">“Спасибо<br/>
                        Герману Грефу, <br/>
                        за то что он <br/>
                        наилучшим образом <br/>
                        отрекомендовал мою книгу, <br/>
                        возможно, сам того не желая”. <br/> <br/>
                        Мастт Сафар.
                    </p>

                </div>
                <form class="get-book" action="">
                    <input type="text" name="name" placeholder="Введите ваше имя"/>
                    <input type="text" name="email" placeholder="Введите ваш e-mail"/>
                    <input class="btn-yellow" type="submit" value="Получить аудиокнигу!"/>
                <span class="get-book__bottom">Ваши данные защищены от несанкционированного   <br/>
использования и передачи третьим лицам.</span>
                </form>
                <div class="content__heading"></div>
                <p>Всю жизнь заниматься поиском себя и оставаться прежним, это ошибка. Просветление, открытие высшего Я
                    - это эволюционная необходимость и технология - прозрачная, достоверная, имеющая ясные параметры и
                    сроки исполнения.</p>

                <p>Существуют сотни тысяч “эзотерических” тренингов и книг, но зачем они все, если в них не раскрывается
                    главное, - как прийти к просветлению, как достичь своего истинного Я, не растягивая процесс до
                    бесконечности? Ведь с этого надо начинать. Это и есть главный узел, развязывающий все остальные узлы
                    больших и маленьких проблем человека.Ведь без пробуждения от иллюзии всё остальное - лищь дешёвые
                    игрушки спящего сознания, не видящего дальше очередных кармических граблей.<br/> <br/></p>

                <p><span class="content__mark">О ЧЁМ?</span> "Слушателю предстоит причудливый путь не по главам – по
                    бутылкам, на которые поделена книга.
                    А в каждой бутылке – многомерный коктейль из духовных откровений, цифр и фактов выделенных из
                    современной действительности, изречений мудрецов и фраз случайных прохожих, сделанный на основе
                    изящного острого языка и мастерски перемешанный. Бутылки – потому что книга эта о «духовных
                    пьяницах» – так в древности называли суфиев за их радостную любовь к Богу".
                </p>

                <p>"Погружаясь в практики на московских улицах, под притчи о цивилизации Зверя и лучистом человечестве,
                    о духе Аяваски и об иллюзиях, о коммунизме и космическом сознании, «духовные пьяницы» приходят
                    к «состоянию беспричинной удовлетворённости собственным существованием» – Счастью. И понимают, что
                    оставаясь "вчерашним" – неосознанным, с мелкими интересами, со своим эгоизмом, – человек не может
                    создавать новое счастливое будущее. "Завтрашний мир" пробужденных и реализованных людей в России
                    21-го века многократно предсказан и ясновидящими, и святыми. И задача современного человека -
                    вырасти
                    над собой, стать завтрашним уже сегодня".</p>

                <p>"Каждая страница книги пропитана любовью. После такого духовного опьянения на мир прежними глазами
                    смотреть невозможно. Пробудившись и открывшись любви и радости, не хочется возвращаться в прежнюю
                    серость.
                    Универсальность духовных истин стирает грани между религиями, течениями и странами. Но Россия
                    присутствует в книге органичным неизменным фоном, будь то московские улицы, метро, алтайские
                    медвежьи углы или бескрайние просторы страны будущих откровений.
                    Книга написана Мастт Сафаром, суфийским мастером, художником и музыкантом". </p>

                <p><span class="content__mark">ДЛЯ КОГО?</span> Не аргументы придают сил, но чувства, - мы больше чем
                    просто
                    люди, если осмеливаемся
                    в это верить, и всегда нам воздаётся по вере. Если мы чувствуем себя великанами, если мы ощущаем
                    себя
                    целостными и соразмерными - своей великой стране и всей планете, то “спасение миру действительно
                    придёт из России”, потому что “самый подлинный и великий источник свободы” возникнет прежде всего
                    в нас самих. </p>

                <div class="content__bottom">Если то, что вы узнаёте на сайте Школы Будущего и из наших учебных
                    программ,
                    наполнено правдой
                    и смыслом, поделитесь ссылкой на сайт со своими друзьями и знакомыми
                </div>
                <div class="content-inner__soc">

                </div>
            </div>
        </div>
        <footer>
            <div class="footer">

                <h4> © 2013 Школа будущего </h4>

            </div>

        </footer>
    </div>
</div>
</body>
</html>