{% extends 'base.html' %}

{% block body %}
    <div class="layout">
        <div class="layout-inner">
            <div class="wrapper-inner">

                <header>
                    <div class="contacts">
                        <span>+7.906.785.28.05</span>
                        <a class="contacts__mail" href="mailto:masttsafar@yandex.ru">masttsafar@yandex.ru</a>
                    </div>
                    <a href='/'><span class="logo"></span></a>

                    {% include 'menu.html' %}

                </header>
                <div class="content-inner">
                    <div class="content__left">Слушай</div>
                    <div class="content__right">
                        <div class="content__right__top">Герман Греф о народе
                            и познании высшего Я
                        </div>
                        <a href="#" class="content__btn-red"></a>

                        <p class="content__right__text">“Спасибо<br/>
                            Герману Грефу, <br/>
                            за то что он <br/>
                            наилучшим образом <br/>
                            отрекомендовал мою книгу, <br/>
                            возможно, сам того не желая”. <br/> <br/>
                            Мастт Сафар.
                        </p>

                    </div>
                    <form class="get-book" action="">
                        <input type="text" name="name" placeholder="Введите ваше имя"/>
                        <input type="text" name="email" placeholder="Введите ваш e-mail"/>
                        <input class="btn-yellow" type="submit" value="Получить аудиокнигу!"/>
                    <span class="get-book__bottom">Ваши данные защищены от несанкционированного   <br/>
    использования и передачи третьим лицам.</span>
                    </form>
                    <div class="content__heading"></div>
                    
                    {{ text_6|safe }}
                    
                    {% include 'soc_block.html' %}
                    
                </div>
            </div>
            <footer>
                <div class="footer">
                    <h4> © 2013 Школа будущего </h4>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}