<!DOCTYPE html>
<html>
    <head>
        <title>ЗдесьБудущее | {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link rel="stylesheet" href="/static/css/style_custom.css"/>
        <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>