{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div class="page-main">
        <div class="b-scroll b-scroll_top">

            <div class="b-scroll__content b-scroll__content_top" >
                <h1><span>Школа будущего</span></h1>
                <ul class="menu">
                    <li><a href="/o-shkole/">О школе</a></li>
                    <li><a href="/obuchenie/">Обучение</a></li>
                    <li class='audio'><a href="/audiobook/">Аудиокнига</a></li>
                </ul>

                
                <div style='clear: both'></div>
                {{ text_1|safe }}
            </div>
        </div>
        
        <div class="content content-top">
            <div class="video">
<iframe width="520" height="300" src="//www.youtube.com/embed/RVM0-AGmw2g" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="form-apply">
                {% if form_send %}
                    <h2>Ваша заявка отправлена.</h2>
                {% else %}
                    <form action="" method='POST'>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input  type="submit" class="form-apply__btn btn__green" value="ПОЛУЧИТЬ НОВЫЕ ЗНАНИЯ!" />
                    </form>
                {% endif %}
            </div>
            
            {{ text_2|safe }}

            <div class="get-link">

                <img src="/static/img/btn-book.png"/>
                <a class="get-link__btn btn__green" href='/audiobook/'>ПОЛУЧИТЬ ССЫЛКУ НА АУДИОКНИГУ</a>
            </div>

        </div>
        
        <div class="b-scroll b-scroll_center">
            <div class="b-scroll__content b-scroll__content_center">
                <div class="quote">
                    {{ text_3|safe }}
                </div>
            </div>
        </div>
        
        <div class="content content-center">
            <div class="content-center__left">
                <div class="content-block">
                    <span class="content-block__icon _1"></span>

                    <div class="content-block__text">
                        <h2><a href="/o-shkole/">О школе</a></h2>

                        <p>Мы делаем акцент на заочной системе обучения,  учебные материалы скачиваются по ссылкам.</p>
                    </div>
                </div>
                
                <div class="content-block ">
                    <span class="content-block__icon _7"></span>

                    <div class="content-block__text">
                        <h2><a href="/paradoks/">Парадокс-лаб</a></h2>

                        <p>“Форсаж мозга” — тренировка над-логической триады (образного, парадоксального, интуитивного мышления).</p>
                    </div>
                </div>
                
                <div class="content-block">
                    <span class="content-block__icon _3"></span>

                    <div class="content-block__text">
                        <h2><a href="/harizma/">Харизма-лаб</a></h2>

                        <p>Харизма — внутренняя сила, которая пробуждается в человеке, когда он начинает следовать предназначению. </p>
                    </div>
                </div>
                
                <div class="content-block">
                    <span class="content-block__icon  _4"></span>

                    <div class="content-block__text">
                        <h2><a href="/siddhi/">Сверх-способности</a></h2>

                        <p>Наработка самадхи, — состояния, в котором происходит раскрытие сверх-способностей.</p>

                    </div>
                </div>
                
                
                <div class="content-block ">
                    <span class="content-block__icon _5"></span>

                    <div class="content-block__text">
                        <h2><a href="/kultura-soznaniya/">Культура сознания</a></h2>

                        <p>Более совершенный мир — это мир не гиперсовершенной техносреды, а более совершенного сознания.</p>
                    </div>
                </div>

                <div class="content-block ">
                    <span class="content-block__icon _6"></span>

                    <div class="content-block__text">
                        <h2><a href="/ayavasaka/">Аяваска</a></h2>

                        <p>Один из древнейших способов достижения исцеляющего катарсиса и очищения души.</p>
                    </div>
                </div>
            </div>


            <div class="content-center__right">

                        
                <div class="content-block">
                    <span class="content-block__icon _2"></span>

                    <div class="content-block__text">
                        <h2><a href="/harakter-lab/">Характер-лаб</a></h2>

                        <p>Здесь вы исследуете уровень причин поведения и эффективного управления им для достижения самовластия.</p>
                    </div>
                </div>
                

                <div class="content-block ">
                    <span class="content-block__icon _8"></span>

                    <div class="content-block__text">
                        <h2><a href="/intuitsiya/">Интуиция</a></h2>

                        <p>Остановка внутреннего диалога, состояние безмолвного знания, тренировка интуиции и психометрических способностей.</p>
                    </div>
                </div>


                <div class="content-block ">
                    <span class="content-block__icon _9"></span>

                    <div class="content-block__text">
                        <h2><a href="/vedyitantra/">Веды.Тантра</a></h2>

                        <p>Углубление и отрезвление взгляда на жизнь, на себя, на свои отношения, приводит к укреплению отношений и очищению жизни.</p>
                    </div>
                </div>


                <div class="content-block ">
                    <span class="content-block__icon _10"></span>

                    <div class="content-block__text">
                        <h2><a href="/master/">Мастер</a></h2>

                        <p>Мы — не мирские существа. Всё, что с нами происходит, имеет духовную основу — это опыт наших душ. </p>
                    </div>
                </div>
                <div class="content-block ">
                    <span class="content-block__icon _11"></span>

                    <div class="content-block__text">
                        <h2><a href="/krug/">Круг</a></h2>

                        <p>Эволюция поставила человеку условие — избавление от эгоизма, пробуждение от иллюзии своей обособленности. </p>
                    </div>
                </div>
                <div class="content-block ">
                    <span class="content-block__icon _12"></span>

                    <div class="content-block__text">
                        <h2><a href="/buduschee/">Будущее</a></h2>

                        <p>Предсказания о будущем России соединяются в единое облако смыслов, в котором угадываются черты будущего.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="b-scroll b-scroll_bottom">
            <div class="b-scroll__content b-scroll__content_center">
                <div class="quote">
                    {{ text_4|safe }}
                </div>
            </div>
        </div>
        
        <div class="content content-bottom">
            {{ text_5|safe }}
        </div>
        
        {% include 'soc_block.html' %}
        
        <footer>
            <div class="footer">
                <h4> © 2013 Школа будущего </h4>
            </div>
        </footer>
    </div>
{% endblock %}
