<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

</head>
<body>
<div class="page-main">
<div class="b-scroll b-scroll_top">

    <div class="b-scroll__content b-scroll__content_top">
        <ul class="menu">
            <li><a href="#">О школе</a></li>
            <li><a href="#">Обучение</a></li>
            <li><a href="#">Аудиокнига</a></li>
        </ul>

        <h1><span>Школа будущего</span></h1>
        <blockquote>"Школа Будущего - это лаборатория, в которой мы развиваем завтрашнюю культуру сознания, изучаем всё то,
            что
            никогда не появится в системе образования, заточенной под создание человека-потребителя." </blockquote>

        <p>Школа Будущего - это лаборатория, в которой мы развиваем завтрашнюю культуру сознания, изучаем всё то,
            что
            никогда не появится в системе образования, заточенной под создание человека-потребителя.</p>

        <p>Создание будущего - творческий процесс. Чтобы строить завтрашний просветлённый мир, нам самим надо стать
            завтрашними - уже сегодня. Быть сегодняшними, и тем более вчерашними - совершенно не достаточно.</p>

        <p>Время пришло - искать не разрозненных знаний, но целостности, развиваться и интеллектуально, и духовно. И
            если мы создадим будущее в себе, оно неизбежно наступит.</p>

        <p>Обучаться в Школе – значит эволюционировать из человека сегодняшнего в человека с завтрашним сознанием,
            значит - углублять свое понимание Вселенной, законов мироздания и самого себя. Становление просветлённым
            творцом-исследователем, проникающим в тайны мироздания и своего разума, – в этом наше будущее.</p>
    </div>
</div>
<div class="content content-top">
    <div class="video">

    </div>
    <div class="form-apply">
        <form action="">
            <input type="text" name="apply-name" placeholder="ВАШЕ ИМЯ..."/>
            <input type="text" name="apply-email" placeholder="ВАШ E-MAIL ..."/>
            <input class="form-apply__btn btn__green" type="submit" value="ПОДАТЬ ЗАЯВКУ НА ОБУЧЕНИЕ"/>
        </form>
    </div>
    <p>Обучаться в Школе – значит эволюционировать из человека сегодняшнего в человека с завтрашним сознанием,
        значит - углублять свое понимание Вселенной, законов мироздания и самого себя. Становление просветлённым
        творцом-исследователем.</p>

    <p>
        Обучаться в Школе – значит эволюционировать из человека сегодняшнего в человека с завтрашним сознанием,
        значит - углублять свое понимание Вселенной.</p>

    <div class="get-link">

        <img src="img/btn-book.png"/>
        <a class="get-link__btn btn__green">ПОЛУЧИТЬ ССЫЛКУ НА АУДИОКНИГУ</a>
    </div>

</div>
<div class="b-scroll b-scroll_center">
    <div class="b-scroll__content b-scroll__content_center">
        <div class="quote">
            <blockquote>"Невозможно стать осознанным, бредя неизвестно куда вместе с толпой спящих, невозможно стать
                свободным, надеясь на случай, невозможно обресьти силу, безвольно плывя по течению".
            </blockquote>
            <span class="quote-author"> Георгий Гурджиев </span>
        </div>
    </div>
</div>
<div class="content content-center">
    <div class="content-center__left">
        <div class="content-block">
            <span class="content-block__icon _1"></span>

            <div class="content-block__text">
                <h2><a href="#">О школе</a></h2>

                <p>В Школе работает система заочного обучения, учебные материалы
                    скачиваются по ссылкам. </p>
            </div>
        </div>
        
        <div class="content-block ">
            <span class="content-block__icon _7"></span>

            <div class="content-block__text">
                <h2><a href="#">Парадокс-лаб</a></h2>

                <p>“Форсаж мозга” — тренировка над-логической триады (образное, парадоксальное, интуитивное
                    мышление). </p>
            </div>
        </div>
        
        <div class="content-block">
            <span class="content-block__icon _3"></span>

            <div class="content-block__text">
                <h2><a href="#">Харизма-лаб</a></h2>

                <p>Харизма — внутренняя сила, которая даётся свыше, когда человек начинает следовать
                    предназначению. </p>
            </div>
        </div>
        
        <div class="content-block">
            <span class="content-block__icon  _4"></span>

            <div class="content-block__text">
                <h2><a href="#">Сверх-способности</a></h2>

                <p>Наработка самадхи, — состояния, в котором происходит раскрытие сверх-способностей. </p>

            </div>
        </div>
        
        
        <div class="content-block ">
            <span class="content-block__icon _5"></span>

            <div class="content-block__text">
                <h2><a href="#">Культура сознания</a></h2>

                <p>Харизма — внутренняя сила, которая даётся свыше, когда человек начинает следовать предназначению.</p>
            </div>
        </div>

        <div class="content-block ">
            <span class="content-block__icon _6"></span>

            <div class="content-block__text">
                <h2><a href="#">Аяваска</a></h2>

                <p>Наработка самадхи, — состояния, в котором происходит раскрытие сверх-способностей. </p>
            </div>
        </div>
    </div>


    <div class="content-center__right">

                
        <div class="content-block">
            <span class="content-block__icon _2"></span>

            <div class="content-block__text">
                <h2><a href="#">Характер-лаб</a></h2>

                <p>Первая важнейшая задача — подготовить тело для принятия новых, более тонких и сильных энергий.</p>
            </div>
        </div>
        

        <div class="content-block ">
            <span class="content-block__icon _8"></span>

            <div class="content-block__text">
                <h2><a href="#">Интуиция</a></h2>

                <p>Остановка внутреннего диалога, состояние безмолвного знания, тренировка интуиции и психометрических
                    способностей.</p>
            </div>
        </div>


        <div class="content-block ">
            <span class="content-block__icon _9"></span>

            <div class="content-block__text">
                <h2><a href="#">Веды.Тантра</a></h2>

                <p>“Форсаж мозга” — тренировка над-логической триады (образное, парадоксальное, интуитивное
                    мышление), </p>
            </div>
        </div>


        <div class="content-block ">
            <span class="content-block__icon _10"></span>

            <div class="content-block__text">
                <h2><a href="#">Мастер</a></h2>

                <p>Остановка внутреннего диалога, состояние безмолвного знания, тренировка интуиции и психометрических
                    способностей.</p>
            </div>
        </div>
        <div class="content-block ">
            <span class="content-block__icon _11"></span>

            <div class="content-block__text">
                <h2><a href="#">Круг</a></h2>

                <p>“Форсаж мозга” — тренировка над-логической триады (образное, парадоксальное, интуитивное
                    мышление). </p>
            </div>
        </div>
        <div class="content-block ">
            <span class="content-block__icon _12"></span>

            <div class="content-block__text">
                <h2><a href="#">Будущее</a></h2>

                <p>“Форсаж мозга” — тренировка над-логической триады (образное, парадоксальное, интуитивное
                    мышление). </p>
            </div>
        </div>
    </div>

</div>
<div class="b-scroll b-scroll_bottom">
    <div class="b-scroll__content b-scroll__content_center">
        <div class="quote">
            <blockquote>
                "Чтобы строить завтрашний просветлённый мир, нам самим надо стать завтрашними - уже сегодня. Быть сегодняшними, а, тем более, вчерашними - не достаточно".
            </blockquote>
            <span class="quote-author"> Мастт Сафар </span>
        </div>
    </div>
</div>
<div class="content content-bottom">
    <p>Обучаться в Школе – значит эволюционировать из человека сегодняшнего в человека с завтрашним сознанием,
        значит - углублять свое понимание Вселенной, законов мироздания и самого себя. Становление просветлённым
        творцом-исследователем.</p>

    <p>
        Обучаться в Школе – значит эволюционировать из человека сегодняшнего в человека с завтрашним сознанием,
        значит - углублять свое понимание Вселенной.</p>

</div>
<footer>
    <div class="footer">
        <ul class="footer-social">
            <li><a href="#">Instagram</a></li>
            <li><a href="#">· Twitter</a></li>
            <li><a href="#">· Facebook</a></li>
            <li><a href="#">· Вконтакте</a></li>
        </ul>
       <h3> © Школа будущего </h3>
        <ul class="footer-nav">
            <li><a href="#">· О нас</a></li>
            <li><a href="#">· Группы</a></li>
            <li><a href="#">· Новости</a></li>
            <li><a href="#">· Сотрудничество</a></li>

        </ul>
    </div>

</footer>
</div>
</body>
</html>